@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul, input, select, button, textarea {
    padding: 0;
    margin: 0;
    border: none;
}

input, button, select, textarea, a, img {
    outline: none;
}

/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner {
    border: 0px;
}

/*火狐的私有属性去掉点击时边框*/
body, html {
    width: 100%;
    font-family: "Microsoft YaHei", "Arial", "SimSun";
}

ul, ul li, ol li, li {
    list-style: none;
}

a, img, input, textarea {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.none {
    display: none;
}

/*login页面css*/
html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../images/login_bg.jpg) no-repeat center center;
    overflow: hidden;
}

.warp {
    width: 560px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.logo {
    display: block;
    margin: 0 auto;
    line-height: 75px;
    text-align: center;
    color: #fff;
}

/*登陆框部分 start*/
.login {
    width: 405px;
    margin: 100px auto 0 auto;
    padding: 57px 0 0 0;
    background: #fff url(../images/login__07.jpg) repeat-x;
    display: block;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login li {
    display: block;
    height: 40px;
    width: 302px;
    margin: 0 auto 20px auto;
}

.login_btn {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    display: block;
    color: white;
    background-color: #488d57;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login_btn:hover {
    background-color: #3d7a47;
}

.login input {
    float: left;
    height: 40px;
    padding-left: 10px;
    font: 14px/40px "Microsoft YaHei";
    color: #8f9fb6;
    background-color: #f4f7fc;
    border: 1px solid #e3e7f0;
    border-left: none;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.login_inp {
    width: 245px;
}

.login .login_icon {
    float: left;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #e3e7f0;
}

.login_userImg {
    background: url(../images/login_icon.png) center top no-repeat #fff;
}

.login_pwdImg {
    background: url(../images/login_icon.png) center center no-repeat #fff;
}

.login_codeImg {
    background: url(../images/login_icon.png) center bottom no-repeat #fff;
}

.login_codeInp {
    width: 160px;
}

.login_code {
    display: block;
    width: 80px;
    height: 40px;
    float: left;
    margin-left: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login_code img {
    width: 80px;
    height: 40px;
}

/*登陆框部分end*/