<include file="Public/header"/>

<div id="wrapper">

    <!-- Sidebar -->
    <include file="Public/nav"/>

    <div id="page-wrapper">
        <include file="Public/sider"/><!-- /.row -->
        <form role="form" method="post" action="">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>首页轮播</label>
                        <input name="name" class="form-control" value="{$_banner['name']}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>连接</label>
                    <textarea class="form-control" name="url" placeholder="http://" >{$_banner['url']}</textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label  class="col-md-12 control-label" style="line-height: 30px">图片:</label>
                    <div class="col-md-5 st-overhidex" >
                        <input id="file_upload"  type="file" multiple="true" >

                        <php>if($_banner['img']!=''){</php>
                        <img  id="upload_org_code_img" src="{$_banner['img']}" height="150">
                        <php>}else{</php>
                        <img style="display: none" id="upload_org_code_img" src="" height="150">
                        <php>}</php>

                        <input id="file_upload_image" name="img" type="hidden" multiple="true" value="{$_banner['img']}">
                    </div>
                </div>
            </div>



            <div class="row st-margintop15">
                <div class="col-md-12">
                    <input type="hidden" name="id" value="{$_banner.id}">
                    <button class="btn btn-primary loading-btn" type="submit"><span  class="glyphicon glyphicon-floppy-disk"></span>保存</button>

                </div>
            </div>
        </form>


    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->
<script>
    var SCOPE = {
        'ajax_upload_image_url' : '/index.php?s=/Admin/Upload/uploadifyimage',
        'ajax_upload_swf' : '/Public/static/uploadify/uploadify.swf'
    };

</script>
<include file="Public/footer"/><!-- /footer -->
<include file="Public/uploadify"/><!-- /footer -->

<script>
    highlight_subnav("__URL__/index");
</script>

<script>

    $("form").submit(function () {
        var self = $(this);
        lab_loading('.loading-btn');
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data) {
            lab_endLoading('.loading-btn');
            if (data.status == 1) {
                dialog.success(data.msg,document.URL);
            } else {
                dialog.error(data.msg);
            }
        }

    });

</script>







