<include file="Public/header"/>

<div id="wrapper">

    <!-- Sidebar -->
    <include file="Public/nav"/>

    <div id="page-wrapper">
        <include file="Public/sider"/><!-- /.row -->


        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-12">
                <a href="{:U('Link/add')}" class="btn btn-primary">增加</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="4%">#</th>
                            <th>友链网站名称</th>
                            <th>连接</th>

                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="_link" id="_lk">
                            <tr>
                                <td>{$key+1+$_page}</td>
                                <td>{$_lk.name}</td>
                                <td>{$_lk.url}</td>

                                <td>
                                    <a href="/index.php?s=/Admin/Link/edit&id={$_lk.id}">编辑</a>
                                    <a href="javascript:void(0)" class="delete text-danger"
                                       attr-id="{$_lk.id}" attr-message="删除">
                                        删除
                                    </a>


                                </td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>




    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<script>
    var SCOPE = {
        'set_status_url': '/index.php?s=/Admin/Link/del',
    }
</script>
<include file="Public/footer"/><!-- /footer -->

<script>
    highlight_subnav("/index.php?s=/Admin/{$Think.CONTROLLER_NAME}/index");
</script>


<script>
    /**
     * 删除操作JS
     */
    $('.delete').on('click', function () {
        var id = $(this).attr('attr-id');
        var a = $(this).attr("attr-a");
        var msg = $(this).attr("attr-message");
        var url = SCOPE.set_status_url;

        data = {};
        data['id'] = id;


        layer.open({
            type: 0,
            title: '是否提交？',
            btn: ['是', '否'],
            icon: 3,
            closeBtn: 2,
            content: "是否确定" + msg,
            scrollbar: true,
            yes: function () {
                // 执行相关跳转
                todelete(url, data);
            },

        });

    });
</script>


