<include file="Public/header"/>

<div id="wrapper">

    <!-- Sidebar -->
    <include file="Public/nav"/>

    <div id="page-wrapper">
        <ul class="nav nav-tabs">
            <li ><a href="__URL__/index">内容管理</a></li>
            <li class="active"><a href="javascript:;">分类管理</a></li>
            <li ><a href="__URL__/intro">介绍设置</a></li>
        </ul>
        <include file="Public/sider"/><!-- /.row -->
        <form role="form" method="post" action="">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>分类名称</label>
                        <input name="sort_name" value="{$_sort.sort_name}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>分类英文名称</label>
                        <input name="sort_en" value="{$_sort.sort_en}" class="form-control">
                    </div>
                </div>
            </div>



            <div class="row st-margintop15">
                <div class="col-md-12">
                    <input type="hidden" name="id" value="{$_sort.id}">
                    <button class="btn btn-primary loading-btn" type="submit"><span  class="glyphicon glyphicon-floppy-disk"></span>保存</button>

                </div>
            </div>
        </form>


    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<include file="Public/footer"/><!-- /footer -->

<script>
    highlight_subnav("__URL__/index");
</script>


<script>

    $("form").submit(function () {
        var self = $(this);
        lab_loading('.loading-btn');
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data) {
            lab_endLoading('.loading-btn');
            if (data.status == 1) {
                dialog.success(data.msg, data.data);
            } else {
                dialog.error(data.msg);
            }
        }

    });

</script>







